#home{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-repeat:no-repeat;
}
body{
  text-align:center;
}
img{
  width:360px;
  height:360px
}
.line{
  height:6px;
    background-color: black;
    width:90px;
    margin:8px auto;
}
a{
    text-decoration: none;
    color:yellow;
    text-shadow: 2px 2px black;
}
.menu{
    background-color: white;
    position: fixed;
    width:100%;
    margin-top:0px;
    top:0px;
    z-index: 10;
}
.links{
    display:inline;
    padding-left:33px;
    padding-right:25px;
    font-size:20px;
    font-family: 'Josefin Sans', sans-serif;
}
.links:hover{
    font-size:25px;
    text-decoration: underline;
}
#comic{
    transition:transform .2s;
    border:10px solid #AAAAAA;
}
#comic:hover {
    transform :scale(0.9);
}
#contact a{
   color: crimson;
    text-shadow: none;
    font-size:20px;
}
#contact iframe{
    width:100%;
}
#contact{
    display:inline;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}